BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 180
BreakBeforeBraces: Attach
NamespaceIndentation: Inner
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: DontAlign
BinPackParameters: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BreakAfterReturnType: None
PenaltyBreakBeforeFirstCallParameter: 100000
PenaltyBreakAssignment: 100000
PenaltyReturnTypeOnItsOwnLine: 100000
PenaltyBreakString: 100000
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SeparateDefinitionBlocks: Always
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: Always
MaxEmptyLinesToKeep: 2
