BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 160
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never
AlwaysBreakAfterReturnType: None
BreakAfterReturnType: None
PenaltyBreakBeforeFirstCallParameter: 100000
PenaltyBreakString: 100000
PenaltyReturnTypeOnItsOwnLine: 100000
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeComma
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
